<section>
  <article>
    <div (click)="handleNavigation(0)">
      <span>{{titleCounter[0]}}</span>
      <h5>Crime server</h5>
    </div>
    <div (click)="handleNavigation(1)">
      <span>{{titleCounter[1]}}</span>
      <h5>Malware</h5>
    </div>
    <div (click)="handleNavigation(2)">
      <span>{{titleCounter[2]}}</span>
      <h5>Bots</h5>
    </div>
    <div (click)="handleNavigation(3)">
      <span>{{titleCounter[3]}}</span>
      <h5>Credentials</h5>
    </div>
    <div (click)="handleNavigation(4)">
      <span>{{titleCounter[4]}}</span>
      <h5>Card</h5>
    </div>
  </article>
  <article>
    <div>{{title}}</div>
  </article>
  <div>
    <a routerLink="/list">List</a>
    <a routerLink="/detail">Details</a>
  </div>
  <!-- <div>
    <div class="row">
      <div class="col-md-6">
        <div style="display: block;">
        <canvas baseChart width="400" height="400"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
      <div class="col-md-6" style="margin-bottom: 10px">
        <table class="table table-responsive table-condensed">
          <tr>
            <th *ngFor="let label of lineChartLabels">{{label}}</th>
          </tr>
          <tr *ngFor="let d of lineChartData">
            <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
          </tr>
        </table>
        <button (click)="randomize()">CLICK</button>
      </div>
    </div>
  </div> -->
</section>